*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}
body {
  display: grid;
  margin: 0;
  background-color: #333;
  overflow: hidden;
}
.paddle {
  --position: 50;
  position: absolute;
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  background-color: var(--foreground-color);
  width: 1vh;
  height: 10vh;
}
.paddle.left {
  left: 1vw;
}
.paddle.right {
  right: 1vw;
}
.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, 50%);
  background-color: var(--foreground-color);
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}
.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

.score > * {
  /*  to select every single direct child */
  /*making sure that half of the screen is taken by one score and the other hlaf is taken by the other score*/
  flex-grow: 1;
  flex-basis: 0;
  /*0            |0
  ---------------|-------------------
                 |
                 |
                 |
                 |
                 |
  */
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}
.score > :first-child {
  text-align: right;
  /*            0|0
  ---------------|-------------------
                 |
                 |
                 |
                 |
                 |
  */
  border-right: 0.5vh solid var(--foreground-color);
}
footer {
  text-align: center;
  color: var(--background-color);
  font-family: "Courier New", Courier, monospace;
}
#won,
#lose {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 45%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  left: 45%;
}
#won {
  display: none;
  color: rgba(45, 194, 45, 0.911);
}
#lose {
  display: none;
  color: rgba(221, 25, 25, 0.911);
}
